<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="ServiceStack.Client" version="4.0.36" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.36" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.36" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.36" targetFramework="net40" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
  <package id="xunit.runner.visualstudio" version="0.99.9-build1021" targetFramework="net40" />
</packages>